<section>
<h1>Delete Employee</h1>

<p>
  Are you sure you want to delete <strong><%= @employee.firstname %></strong>?
</p>

<%= button_to "Delete Employee",
              employee_path(@employee),
              method: :delete,
              data: { confirm: "Are you sure?" },
              class: "btn btn-danger mt-3" %>

<%= link_to "Cancel", employees_path, class: "btn btn-secondary mt-3" %>
</section>

